body {
    background-color: lightslategrey;
}



h1{
    color:aqua

}
p{
    color:blueviolet;
    font-size: 1rem;
    width: 500px;
}

h2{
    color:darkslategrey
}

h3{
    color:red
}

h4{
    color:violet
}

h5{
    color:blue
}

h6{
    color:blueviolet
}

h7{
    color:blueviolet
}
